
@font-face {
    font-family: 'railwayregular';
    src: url('fonts/railway-webfont.eot');
    src: url('fonts/railway-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/railway-webfont.woff2') format('woff2'),
    url('fonts/railway-webfont.woff') format('woff'),
    url('fonts/railway-webfont.ttf') format('truetype'),
    url('fonts/railway-webfont.svg#railwayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'railwayregular', sans-serif;
}

#container {
    width: 100%;
}

header {
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 10;
    }

.main_width {
    margin: 0 auto;
    width: 1200px;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

#logo {
    float: left;
    text-transform: uppercase;
    padding: 15px 0 15px 68px;
}

nav {
    float: right;
    padding: 15px 0 15px 0;
    }

nav li {
    display: inline-block;
    text-transform: uppercase;
}

nav li:first-of-type {
    padding-right: 52px;
}

nav li:nth-of-type(2) {
    padding-right: 39px;
}

nav li:last-of-type {
    padding-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.dropdown {
    background-color: black;
    color: white;
    width: 130px;
    height: 120px;
    position: relative;
    top: -15px;
    display: none;

}

.dropdown li a {
    text-transform: none;
    text-decoration: none;
    color: white;
    display: block;   /* dlaczego nie działa? */

}

.dropdown li {
    padding-top: 16px;
    padding-left: 13px;


}

nav li:first-of-type:hover > ul.dropdown {
    display: block;
}

.icon-up-dir {
    border: 2px solid red;
    color: black;
    font-size: 40px;
    position: relative;
    left: 30px;
    top: 5px;
    /* display: none;     dlaczego?*/

}

nav li:first-of-type:hover > #up-dir {
    display: block;
}

.green {
    color: #1dc6b3;
}

#slider{
    padding-top: 145px;
    height: 500px;
    background-color: white;
    background-image: linear-gradient(#fdfdfd, #cbced5);
}

#slider div div {
    float: left;


}

#slider div div:first-child, #slider div div:last-child {
    font-size: 70px;
    font-family: Arial, sans-serif;
    width: 10%;
    text-align: center;
    padding-top: 150px;
}

#slider div:nth-child(3), #slider div:nth-child(4){
    width: 35%
}

.text {
    color: #222222;
    font-size: 14px;
    line-height: 1.7em;
    margin-top: 43px;
}

p[class="text"] {
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

button {
    text-transform: uppercase;
    font-size: 25px;
    background-color: #1dc6b3;
    border: 2px solid #1dc6b3;
    width: 262px;
    height: 53px;
    border-radius: 10px;
    color: white;
    display: block;
    margin: 50px auto 0 auto;

}



.center {
    margin: 0 auto;
    width: 1050px;
}

#products {
    height: 350px;
}

.image {
    height: 220px;
    width: 300px;
    padding: 30px;
    position: relative;
    z-index: 1;
}

#products .image:first-of-type {
    padding-left: 0;
}

.description {
    height: 250px;
    width: 320px;
    border: 1px solid #dbdbdb;
    margin-top: 30px;
    margin-left: 30px;
}

.image, .description {
    float: left;
}

#products h2 {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    padding-top: 20px;
    text-indent: 18px;
}

#products .text {
    text-align: left;
    padding-left: 18px;
    margin-top: 17px;
    color: #6e6e6e;
}

.product_name {
    position: absolute;
    top: 180px;
    z-index: 2;
    height: 60px;
    width: 340px;
    background-color: rgba(255,255,255,.3);
    text-indent: 20px;
}

.chair {
    padding-top: 15px;
}

.underline-short {
    width: 135px;
    height: 6px;
    background-color: #28c8ac;
    margin-left: 16px;
}


#prices {
    background-color: #f9f9f9;
    height: 725px;
}

#basic, #standard, #advance {
    float: left;
    width: 330px;
    height: 500px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}

td {
    height: 40px;
    width: 330px;
    text-align: center;
    vertical-align: middle;
}


#basic, #standard {
    margin-right: 25px;
}

.section-head {
    padding: 45px 0 0 0;
    text-transform: uppercase;
    color: #565656;
    font-size: 25px;
}

.underline-long {
    width: 320px;
    height: 6px;
    background-color: #28c8ac;
    margin: 0 0 80px 0;
}

p[class="circle-top"] {
    display: block;
}

.circle-top {
    background-color: #ffffff;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #d6d6d6;
    margin: auto;
    top: -40px;
}

/*
.inner-circle {             jak to wypozycjonować??? (uwaga -  <div class="inner-circle"> usunięty z htmla)
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c2c2c2;
}
*/

td p:nth-of-type(2) {
    text-transform: uppercase;
    color: #27c7ab;
    font-size: 22px;
    padding-bottom: 22px;
    text-align: center;
}

#prices p:last-of-type {
    border: 2px solid #e4e4e4;
    width: 100px;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 50%;
    margin: 5px auto 20px auto;
    color: #c4c4c4;

}

.cost {
    font-size: 30px;
    font-weight: bold;
}

tr:nth-child(2) {
    background-color: #e4e4e4;
    color: #8c8c8c;
    font-size: 20px;
}

tr:nth-child(3) {
    color: #757575;
    background-color: #f1f1f1;
    font-size: 20px;
}

tr:nth-child(4) {
    background-color: #e4e4e4;
    color: #8c8c8c;
    font-size: 20px;
}

tr:nth-child(5) {
    color: #757575;
    background-color: #f1f1f1;
    font-size: 20px;
}

.none {
    background-color: #f9f9f9;
}

#prices button {
    width: 120px;
    height: 33px;
    border-radius: 7px;
    font-size: 15px;
}

#contact {
    height: 550px;
    background-color: #ffffff;
}

#left {
    float: left;
    margin-right: 50px;

}

#right {
    float: right;
    width: 350px;
}

#contact .underline-long {
    margin-bottom: 45px;
}

input, textarea {
    border: 1px solid #a6e3d3;
    margin-bottom: 25px;
}

input {
    height: 65px;
    width: 635px;
    text-indent: 10px;
}

textarea {
    width: 635px;
    height: 170px;
    resize: none;
    text-indent: 10px;
    font-family: 'railwayregular', sans-serif;
}


::-webkit-input-placeholder {
    color:#cdcdcd;
    font-size: 20px;
    font-family: 'railwayregular', sans-serif;
}
::-moz-placeholder {
    color:#cdcdcd;
    font-size: 30px;
    font-family: 'railwayregular', sans-serif;

}
:-ms-input-placeholder {
    color:#cdcdcd;
    font-size: 30px;
    font-family: 'railwayregular', sans-serif;
}

#red-chair {
    display: block;
    width: 225px;
    height: 190px;
    margin: auto;
    padding-bottom: 15px;
}

#tick {
    display:block;
    float: left;
    padding-right: 10px;
}

#right div div {
    font-size: 20px;
    color: #c0c0c0;
    padding-top: 10px;
}
footer {
    height: 100px;
    background-color: #ffffff;
    color: #b0b0b0;
}

footer p {
    padding-top: 35px;
    font-size: 18px;
    float: left;
}

#social-icons {
    position: relative;
    top: 25px;
    left: 350px;
}

#logo-bottom {
    text-transform: uppercase;
    color: #b0b0b0;
    float: right;
    font-size: 20px;
}

#logo-bottom span {
    font-weight: bold;
}